
- if ( title == null )
	- var title = '';

!!! 5
html

	head
		title= title
		link(href="/c/bootstrap.min.css", rel="stylesheet", type="text/css")
		//link(href="/c/main.css", rel="stylesheet", type="text/css")
		script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyAWDyZOxhCi8s98_OWC8a1XG8a1ZTpikF0&sensor=false")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		script(src="/j/bootstrap.min.js")
		script
			var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-30325852-1']);
				_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		
	body

		header
			
			div#header.container

				h1 
					a(href="/") LF RBGs

				p.message Blizzard sucks! Why do I have to do this???

		content
		
			div#wrapper.container
			
				div.content
					!{body}


		footer

			div#footer.container
				div#site_info
					ul
						li.first
							a(href="/") home
						li.last
							a(href="/") contact

					p &copy; 2012 lfrbgs.com

