h2!=hashO

div.row
	div.span5
		div
			h4 Looking for more
			ul#lfm
		div
			h4 Looking for group
			ul#lfg

	div.span5
		div
			h4 Pinged
			ul#pinged
		div
			h4 Ponged
			ul#ponged

script(src="/socket.io/socket.io.js")
script
	var bus = {
		addToList : function(){},
		killConnection : function(){}
	};
	var socket = io.connect('http://localhost/?id=#{hashO}');
		socket.on("initializedData", function (data) {
			console.log("INITIALIZE DATA = " + (data.lfg.length + data.lfm.length));
			console.log(data);
			var i, x, n, len;
			for(n in data){
				for(i=0, len = data[n].length; i<len; i++){
					bus.addToList(n, data[n][i]);
				};
			};
		});
		socket.on("newConnection", function (data) {
			console.log("NEW CONNECTION = " + data.qid);
			console.log(data);
			bus.addToList(data.type, data, true);
		});
		socket.on("killConnection", function (data) {
			console.log("KILL CONNECTION = " + data);
			console.log(data);
			bus.killConnection(data);
		});


script(src="/j/#{pageType}.js")
