h2!=hashO

div.row
	div.span5
		div
			h4 Looking for more
			ul#lfm
		div
			h4 Looking for group
			ul#lfg

	div.span5
		div
			h4 Pinged
			ul#pinged
		div
			h4 Ponged
			ul#ponged

script(src="/socket.io/socket.io.js")
script
	var id = "#{hashO}";
	
script(src="/j/queue.js")
script(src="/j/#{pageType}.js")
